/* ChatRoom.css - 기본적으로 모바일에 최적화된 스타일 */
.chatRoomContainer {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .chatRoomDetail, .chatInput {
    flex-shrink: 0;
    padding: 8px; /* 모바일 환경에서는 패딩을 줄입니다 */
  }
  
  .chatMessages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 8px; /* 메시지 리스트의 패딩도 조정합니다 */
  }
  
  /* 더 큰 화면을 위한 스타일 추가는 미디어 쿼리를 사용 */
  @media (min-width: 600px) {
    .chatRoomDetail, .chatInput {
      padding: 16px; /* 화면이 클 때는 더 넓은 패딩을 제공 */
    }
  
    .chatMessages {
      padding: 16px; /* 메시지 리스트의 패딩도 조정 */
    }
  }