.chat-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    background-color: rgb(87, 87, 87);
    border-radius: 10px;
  }
  
  .chat-dropdown li {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    list-style-type: none;
    /* 목록 스타일 제거 */
    cursor: pointer;
    /* 마우스 오버 시 커서 변경 */
    color: white;
    white-space: nowrap;
  }
  
  .chat-dropdown li:hover {
    border-radius: 10px;
    background-color: #3d3d3d;
  }
  
  .chat-dropdown hr{
    margin: 0 auto;
    width: 90%;
  }