.appointment-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.appointlink-style {
  text-decoration: none;
  color: inherit;
}

.appointcard {
  height: auto;
  min-height: 90px;
  width: 350px;
  margin-bottom: 0.3rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.appointcardbody {
  height: auto;
  min-height: 90px;
}

.appointcontent {
  display: flex;
  width: 13rem;
  flex-direction: column;
}

.appointbadge {
  margin-bottom: 10px;
}

.appointtitle{
  font-size: 18px;
  font-weight: bold;
}

.appointtag {
  display: flex;
  flex-wrap: wrap;
}

.appointtag-list {
  margin-right: 10px;
  font-size: 14px;
  color: gray;
}

.appointdate {
  font-size: 14px;
  color: #888;
}

.calendar-container {
  display: flex;
  align-items: center;
}

.calendar-icon {
  margin-right: 5px; /* 아이콘과 텍스트 사이에 여백을 조정합니다. */
}

