.card{
    margin-bottom: 10px;
    width: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.cardbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 170px; */
    width: 90%;
    min-height: 150px; /* 변경된 부분 */
    margin-left: 1rem;
    margin-top: 1rem;
}


.avatarbox {
    display: flex;
    align-items: center;
}

.avatarbox .badge{
    color: white;
}
  
.avatar2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5rem;
}

.avatar2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 18px;
}

.titlebox{
    height: 25px;
    padding-top: 1.5rem;
    padding-bottom: 1.3rem;
}

.content{
    display: flex;
    flex-direction: column;
}

.tag{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.tag > p {
    margin-right: 5px;
    color: lightgray;
    font-weight: lighter;
    font-size: small;
}

.content .date{
    font-size: 12px;
    text-align: end;
    color: hsl(215, 85%, 66%);
    font-weight: lighter;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}