.card{
    margin-bottom: 10px;
    width: 350px;
}

.cardbody {
    height: 120px;
    width: 340px;
<<<<<<< HEAD
    margin-top: 0.5rem;
    display : flex;
    align-items: center;
    justify-content: center;
=======
    display : flex;
    align-items: center;
>>>>>>> b339b99 (refactor : clone 후home.jsx 추가)
}


.nickname {
    color: rgb(255, 255, 255);
}

.level-name {
    display: flex;
}

<<<<<<< HEAD
.avatar2 {
=======
.avatar {
>>>>>>> b339b99 (refactor : clone 후home.jsx 추가)
    width: 80px;
    height: 80px;
    margin-left: 15px;
}

.rounded-full {
    border-radius: 50%; /* 반지름이 요소의 절반 크기인 원 모양을 만듭니다. */
}

.title{
    font-size: 24px;
<<<<<<< HEAD
    

}

.titlebox{
    height: 36px;
=======
>>>>>>> b339b99 (refactor : clone 후home.jsx 추가)
}

.content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px;
}

.tag{
    display: flex;
}

.tag-list {
    margin-right: 5px;
    color: lightgray;
}

.date{
    font-size: 10px;
    text-align: end;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}