.card{
    margin-bottom: 10px;
    width: 350px;
}

.cardbody {
    height: 120px;
    width: 340px;
    margin-top: 0.5rem;
    display : flex;
    align-items: center;
    justify-content: center;
}


.nickname {
    color: rgb(255, 255, 255);
}

.level-name {
    display: flex;
}

.avatar2 {
    width: 80px;
    height: 80px;
    margin-left: 15px;
}

.rounded-full {
    border-radius: 50%; /* 반지름이 요소의 절반 크기인 원 모양을 만듭니다. */
}

<<<<<<< HEAD
.title {
    font-size: 20px;
}

.titlebox{
    height: 30px;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
=======
.title{
    font-size: 24px;
    

}

.titlebox{
    height: 36px;
>>>>>>> main
}

.content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px;
}

.tag{
    display: flex;
}

.tag-list {
    margin-right: 5px;
    color: lightgray;
}

.date{
    font-size: 10px;
    text-align: end;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}